.site-footer {
  background-color: $very-dark-blue;
  padding: 54px 15px;
  font-family: $font-family-averta-demo;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  .footer-links {
    display: flex;
    gap: 32px;
    position: relative;
    z-index: 2;
    a {
      font-size: 20px;
      line-height: 24px;
      color: $pure-white;
      text-decoration: none;
    }
  }
  .footer-social-links {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 16px;
  }
  .footer-copy-right {
    position: relative;
    z-index: 2;
    font-size: 18px;
    color: $pure-white;
    line-height: 21.6px;
  }
}
