.services-carousel-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-direction: column;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0px 15px;
  .services-headings-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      margin: 0;
      font-size: 40px;
      line-height: 52.6px;
      font-weight: bold;
      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 31.56px;
      }
    }
    // button {
    //   background-color: unset;
    //   padding: unset;
    //   border: none;
    //   svg {
    //     fill: $light-blue;
    //     stroke: $pure-white;
    //     &:hover {
    //       stroke: $very-dark-blue;
    //       fill: $pure-white;
    //     }
    //   }
    // }
  }
  .services-carousel-cards.slick-slider {
    width: 100%;
    overflow: hidden;
    .slick-list {
      margin: 0 -10px;
      .slick-track {
        a.slick-slide {
          text-decoration: none;
          margin: 0 10px;
          .service-card {
            background-color: $white;
            border-radius: 12px;
            display: flex !important;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            border: 2px solid $light-blue;
            .service-img {
              width: 100%;
              border-radius: 12px 12px 0px 0px;
              height: 248px;
              @media (max-width: 768px) {
                height: 171px;
              }
            }
            .service-content-container {
              width: 100%;
              padding: 10px;
              gap: 10px;
              display: flex;
              flex-direction: column;
              h3,
              p {
                margin: unset !important;
              }
              .service-name,
              .service-price {
                font-size: 18px;
                line-height: 21.6px;
                color: $very-dark-blue;
              }
              .service-category {
                color: $gray;
              }
              .first-block {
                display: flex;
                flex-direction: column;
                gap: 5px;
              }
              .second-block {
                display: flex;
                flex-direction: column;
                gap: 10px;
              }
            }
          }
        }
      }
    }
  }
}
