$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$pure-black: #000000;
$black: #101010;
$very-dark-gray: #161616;
$dark-gray: #202024;
$gray: #4D4D50;
$light-gray: #6F6F6F;
$very-light-gray: #949494;
$very-light-gray-2: #AAAAAA;
$very-dark-white: #B7B7B7;
$dark-white: #C9C9C9;
$white: #F6F6F6;
$pure-white: #FFFFFF; 

$light-blue: #3C92F6;
$blue: #143D59;
$dark-blue: #141A46;
$very-dark-blue: #0C1030;
$yellow: #FAAF3C;

$primary: $light-blue;
$primary-2: $yellow;
$secondary: $blue;
$secondary-2: $dark-blue;
$secondary-3: $very-dark-blue;

